/*
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 97px;
color: #a32721;

font-family: 'Bree Serif', Georgia, serif;
font-size: 22px;
line-height: 20px;
color: #ffffff;

font-family: arial, Helvetica, sans-serif;
font-size: 28px;
line-height: 40px;
color: #333333;

font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
line-height: 40px;
color: #333333;

font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 20px;
color: #222222;

font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height:20px;
color: #ffffff;

*/
.error {
  color: red;
}

body {
  background-color: #EAE9E9;
}

.navbar {
  background-color: #AC1F29;
  margin: 0 -15px;
  border-radius: 0;
  border: none;
}

.container {
  background-color: white;
}

.helv-10-gray {
  font-size: 10px;
  font-family: helvetica;
  line-height: 11px;
  color: #565A5C;
}

.helv-12-gray {
  font-size: 12px;
  font-family: helvetica;
  line-height: 13.2px;
  color: #565A5C;
}

.helv-14-gray {
  font-size: 14px;
  font-family: helvetica;
  line-height: 15.4px;
  color: #565A5C;
}

.helv-16-gray {
  font-size: 16px;
  font-family: helvetica;
  line-height: 17.6px;
  color: #565A5C;
}

.helv-18-gray {
  font-size: 18px;
  font-family: helvetica;
  line-height: 19.8px;
  color: #565A5C;
}

.helv-20-gray {
  font-size: 20px;
  font-family: helvetica;
  line-height: 22px;
  color: #565A5C;
}

.helv-22-gray {
  font-size: 22px;
  font-family: helvetica;
  line-height: 24.2px;
  color: #565A5C;
}

.helv-24-gray {
  font-size: 24px;
  font-family: helvetica;
  line-height: 26.4px;
  color: #565A5C;
}

.helv-26-gray {
  font-size: 26px;
  font-family: helvetica;
  line-height: 28.6px;
  color: #565A5C;
}

.helv-28-gray {
  font-size: 28px;
  font-family: helvetica;
  line-height: 30.8px;
  color: #565A5C;
}

.helv-30-gray {
  font-size: 30px;
  font-family: helvetica;
  line-height: 33px;
  color: #565A5C;
}

.helv-32-gray {
  font-size: 32px;
  font-family: helvetica;
  line-height: 35.2px;
  color: #565A5C;
}

.helv-34-gray {
  font-size: 34px;
  font-family: helvetica;
  line-height: 37.4px;
  color: #565A5C;
}

.helv-36-gray {
  font-size: 36px;
  font-family: helvetica;
  line-height: 39.6px;
  color: #565A5C;
}

.helv-38-gray {
  font-size: 38px;
  font-family: helvetica;
  line-height: 41.8px;
  color: #565A5C;
}

.helv-40-gray {
  font-size: 40px;
  font-family: helvetica;
  line-height: 44px;
  color: #565A5C;
}

.helv-42-gray {
  font-size: 42px;
  font-family: helvetica;
  line-height: 46.2px;
  color: #565A5C;
}

.helv-44-gray {
  font-size: 44px;
  font-family: helvetica;
  line-height: 48.4px;
  color: #565A5C;
}

.helv-46-gray {
  font-size: 46px;
  font-family: helvetica;
  line-height: 50.6px;
  color: #565A5C;
}

.helv-48-gray {
  font-size: 48px;
  font-family: helvetica;
  line-height: 52.8px;
  color: #565A5C;
}

.helv-50-gray {
  font-size: 50px;
  font-family: helvetica;
  line-height: 55.0px;
  color: #565A5C;
}

.helv-52-gray {
  font-size: 52px;
  font-family: helvetica;
  line-height: 57.2px;
  color: #565A5C;
}

.helv-54-gray {
  font-size: 54px;
  font-family: helvetica;
  line-height: 59.4px;
  color: #565A5C;
}

.helv-56-gray {
  font-size: 56px;
  font-family: helvetica;
  line-height: 61.6px;
  color: #565A5C;
}

.helv-58-gray {
  font-size: 58px;
  font-family: helvetica;
  line-height: 63.8px;
  color: #565A5C;
}

.helv-60-gray {
  font-size: 60px;
  font-family: helvetica;
  line-height: 66px;
  color: #565A5C;
}

.helv-10-white {
  font-size: 10px;
  font-family: helvetica;
  line-height: 11px;
  color: white;
}

.helv-11-white {
  font-size: 11px;
  font-family: helvetica;
  line-height: 12.1px;
  color: white;
}

.helv-12-white {
  font-size: 12px;
  font-family: helvetica;
  line-height: 13.2px;
  color: white;
}

.helv-13-white {
  font-size: 13px;
  font-family: helvetica;
  line-height: 14.3px;
  color: white;
}

.helv-14-white {
  font-size: 14px;
  font-family: helvetica;
  line-height: 15.4px;
  color: white;
}

.helv-15-white {
  font-size: 15px;
  font-family: helvetica;
  line-height: 16.5px;
  color: white;
}

.helv-16-white {
  font-size: 16px;
  font-family: helvetica;
  line-height: 17.6px;
  color: white;
}

.helv-17-white {
  font-size: 17px;
  font-family: helvetica;
  line-height: 18.7px;
  color: white;
}

.helv-18-white {
  font-size: 18px;
  font-family: helvetica;
  line-height: 19.8px;
  color: white;
}

.helv-19-white {
  font-size: 19px;
  font-family: helvetica;
  line-height: 20.9px;
  color: white;
}

.helv-20-white {
  font-size: 20px;
  font-family: helvetica;
  line-height: 22px;
  color: white;
}

.helv-21-white {
  font-size: 21px;
  font-family: helvetica;
  line-height: 23.1px;
  color: white;
}

.helv-22-white {
  font-size: 22px;
  font-family: helvetica;
  line-height: 24.2px;
  color: white;
}

.helv-23-white {
  font-size: 23px;
  font-family: helvetica;
  line-height: 25.3px;
  color: white;
}

.helv-24-white {
  font-size: 24px;
  font-family: helvetica;
  line-height: 26.4px;
  color: white;
}

.helv-25-white {
  font-size: 25px;
  font-family: helvetica;
  line-height: 27.5px;
  color: white;
}

.helv-26-white {
  font-size: 26px;
  font-family: helvetica;
  line-height: 28.6px;
  color: white;
}

.helv-27-white {
  font-size: 27px;
  font-family: helvetica;
  line-height: 29.7px;
  color: white;
}

.helv-28-white {
  font-size: 28px;
  font-family: helvetica;
  line-height: 30.8px;
  color: white;
}

.helv-29-white {
  font-size: 29px;
  font-family: helvetica;
  line-height: 31.9px;
  color: white;
}

.helv-30-white {
  font-size: 30px;
  font-family: helvetica;
  line-height: 33px;
  color: white;
}

.helv-31-white {
  font-size: 31px;
  font-family: helvetica;
  line-height: 34.1px;
  color: white;
}

.helv-32-white {
  font-size: 32px;
  font-family: helvetica;
  line-height: 35.2px;
  color: white;
}

.helv-33-white {
  font-size: 33px;
  font-family: helvetica;
  line-height: 36.3px;
  color: white;
}

.helv-34-white {
  font-size: 34px;
  font-family: helvetica;
  line-height: 37.4px;
  color: white;
}

.helv-35-white {
  font-size: 35px;
  font-family: helvetica;
  line-height: 38.5px;
  color: white;
}

.helv-36-white {
  font-size: 36px;
  font-family: helvetica;
  line-height: 39.6px;
  color: white;
}

.helv-37-white {
  font-size: 37px;
  font-family: helvetica;
  line-height: 40.7px;
  color: white;
}

.helv-38-white {
  font-size: 38px;
  font-family: helvetica;
  line-height: 41.8px;
  color: white;
}

.helv-39-white {
  font-size: 39px;
  font-family: helvetica;
  line-height: 42.9px;
  color: white;
}

.helv-40-white {
  font-size: 40px;
  font-family: helvetica;
  line-height: 44px;
  color: white;
}

.helv-41-white {
  font-size: 41px;
  font-family: helvetica;
  line-height: 45.1px;
  color: white;
}

.helv-42-white {
  font-size: 42px;
  font-family: helvetica;
  line-height: 46.2px;
  color: white;
}

.helv-43-white {
  font-size: 43px;
  font-family: helvetica;
  line-height: 47.3px;
  color: white;
}

.helv-44-white {
  font-size: 44px;
  font-family: helvetica;
  line-height: 48.4px;
  color: white;
}

.helv-45-white {
  font-size: 45px;
  font-family: helvetica;
  line-height: 49.5px;
  color: white;
}

.helv-46-white {
  font-size: 46px;
  font-family: helvetica;
  line-height: 50.6px;
  color: white;
}

.helv-47-white {
  font-size: 47px;
  font-family: helvetica;
  line-height: 51.7px;
  color: white;
}

.helv-48-white {
  font-size: 48px;
  font-family: helvetica;
  line-height: 52.8px;
  color: white;
}

.helv-49-white {
  font-size: 49px;
  font-family: helvetica;
  line-height: 53.9px;
  color: white;
}

.helv-50-white {
  font-size: 50px;
  font-family: helvetica;
  line-height: 55.0px;
  color: white;
}

.helv-51-white {
  font-size: 51px;
  font-family: helvetica;
  line-height: 56.1px;
  color: white;
}

.helv-52-white {
  font-size: 52px;
  font-family: helvetica;
  line-height: 57.2px;
  color: white;
}

.helv-53-white {
  font-size: 53px;
  font-family: helvetica;
  line-height: 58.3px;
  color: white;
}

.helv-54-white {
  font-size: 54px;
  font-family: helvetica;
  line-height: 59.4px;
  color: white;
}

.helv-55-white {
  font-size: 55px;
  font-family: helvetica;
  line-height: 60.5px;
  color: white;
}

.helv-56-white {
  font-size: 56px;
  font-family: helvetica;
  line-height: 61.6px;
  color: white;
}

.helv-57-white {
  font-size: 57px;
  font-family: helvetica;
  line-height: 62.7px;
  color: white;
}

.helv-58-white {
  font-size: 58px;
  font-family: helvetica;
  line-height: 63.8px;
  color: white;
}

.helv-59-white {
  font-size: 59px;
  font-family: helvetica;
  line-height: 64.9px;
  color: white;
}

.helv-60-white {
  font-size: 60px;
  font-family: helvetica;
  line-height: 66px;
  color: white;
}

.helv-10-red {
  font-size: 10px;
  font-family: helvetica;
  line-height: 11px;
  color: #FF5A5F;
}

.helv-11-red {
  font-size: 11px;
  font-family: helvetica;
  line-height: 12.1px;
  color: #FF5A5F;
}

.helv-12-red {
  font-size: 12px;
  font-family: helvetica;
  line-height: 13.2px;
  color: #FF5A5F;
}

.helv-13-red {
  font-size: 13px;
  font-family: helvetica;
  line-height: 14.3px;
  color: #FF5A5F;
}

.helv-14-red {
  font-size: 14px;
  font-family: helvetica;
  line-height: 15.4px;
  color: #FF5A5F;
}

.helv-15-red {
  font-size: 15px;
  font-family: helvetica;
  line-height: 16.5px;
  color: #FF5A5F;
}

.helv-16-red {
  font-size: 16px;
  font-family: helvetica;
  line-height: 17.6px;
  color: #FF5A5F;
}

.helv-17-red {
  font-size: 17px;
  font-family: helvetica;
  line-height: 18.7px;
  color: #FF5A5F;
}

.helv-18-red {
  font-size: 18px;
  font-family: helvetica;
  line-height: 19.8px;
  color: #FF5A5F;
}

.helv-19-red {
  font-size: 19px;
  font-family: helvetica;
  line-height: 20.9px;
  color: #FF5A5F;
}

.helv-20-red {
  font-size: 20px;
  font-family: helvetica;
  line-height: 22px;
  color: #FF5A5F;
}

.helv-21-red {
  font-size: 21px;
  font-family: helvetica;
  line-height: 23.1px;
  color: #FF5A5F;
}

.helv-22-red {
  font-size: 22px;
  font-family: helvetica;
  line-height: 24.2px;
  color: #FF5A5F;
}

.helv-23-red {
  font-size: 23px;
  font-family: helvetica;
  line-height: 25.3px;
  color: #FF5A5F;
}

.helv-24-red {
  font-size: 24px;
  font-family: helvetica;
  line-height: 26.4px;
  color: #FF5A5F;
}

.helv-25-red {
  font-size: 25px;
  font-family: helvetica;
  line-height: 27.5px;
  color: #FF5A5F;
}

.helv-26-red {
  font-size: 26px;
  font-family: helvetica;
  line-height: 28.6px;
  color: #FF5A5F;
}

.helv-27-red {
  font-size: 27px;
  font-family: helvetica;
  line-height: 29.7px;
  color: #FF5A5F;
}

.helv-28-red {
  font-size: 28px;
  font-family: helvetica;
  line-height: 30.8px;
  color: #FF5A5F;
}

.helv-29-red {
  font-size: 29px;
  font-family: helvetica;
  line-height: 31.9px;
  color: #FF5A5F;
}

.helv-30-red {
  font-size: 30px;
  font-family: helvetica;
  line-height: 33px;
  color: #FF5A5F;
}

.helv-31-red {
  font-size: 31px;
  font-family: helvetica;
  line-height: 34.1px;
  color: #FF5A5F;
}

.helv-32-red {
  font-size: 32px;
  font-family: helvetica;
  line-height: 35.2px;
  color: #FF5A5F;
}

.helv-33-red {
  font-size: 33px;
  font-family: helvetica;
  line-height: 36.3px;
  color: #FF5A5F;
}

.helv-34-red {
  font-size: 34px;
  font-family: helvetica;
  line-height: 37.4px;
  color: #FF5A5F;
}

.helv-35-red {
  font-size: 35px;
  font-family: helvetica;
  line-height: 38.5px;
  color: #FF5A5F;
}

.helv-36-red {
  font-size: 36px;
  font-family: helvetica;
  line-height: 39.6px;
  color: #FF5A5F;
}

.helv-37-red {
  font-size: 37px;
  font-family: helvetica;
  line-height: 40.7px;
  color: #FF5A5F;
}

.helv-38-red {
  font-size: 38px;
  font-family: helvetica;
  line-height: 41.8px;
  color: #FF5A5F;
}

.helv-39-red {
  font-size: 39px;
  font-family: helvetica;
  line-height: 42.9px;
  color: #FF5A5F;
}

.helv-40-red {
  font-size: 40px;
  font-family: helvetica;
  line-height: 44px;
  color: #FF5A5F;
}

.helv-41-red {
  font-size: 41px;
  font-family: helvetica;
  line-height: 45.1px;
  color: #FF5A5F;
}

.helv-42-red {
  font-size: 42px;
  font-family: helvetica;
  line-height: 46.2px;
  color: #FF5A5F;
}

.helv-43-red {
  font-size: 43px;
  font-family: helvetica;
  line-height: 47.3px;
  color: #FF5A5F;
}

.helv-44-red {
  font-size: 44px;
  font-family: helvetica;
  line-height: 48.4px;
  color: #FF5A5F;
}

.helv-45-red {
  font-size: 45px;
  font-family: helvetica;
  line-height: 49.5px;
  color: #FF5A5F;
}

.helv-46-red {
  font-size: 46px;
  font-family: helvetica;
  line-height: 50.6px;
  color: #FF5A5F;
}

.helv-47-red {
  font-size: 47px;
  font-family: helvetica;
  line-height: 51.7px;
  color: #FF5A5F;
}

.helv-48-red {
  font-size: 48px;
  font-family: helvetica;
  line-height: 52.8px;
  color: #FF5A5F;
}

.helv-49-red {
  font-size: 49px;
  font-family: helvetica;
  line-height: 53.9px;
  color: #FF5A5F;
}

.helv-50-red {
  font-size: 50px;
  font-family: helvetica;
  line-height: 55.0px;
  color: #FF5A5F;
}

.helv-51-red {
  font-size: 51px;
  font-family: helvetica;
  line-height: 56.1px;
  color: #FF5A5F;
}

.helv-52-red {
  font-size: 52px;
  font-family: helvetica;
  line-height: 57.2px;
  color: #FF5A5F;
}

.helv-53-red {
  font-size: 53px;
  font-family: helvetica;
  line-height: 58.3px;
  color: #FF5A5F;
}

.helv-54-red {
  font-size: 54px;
  font-family: helvetica;
  line-height: 59.4px;
  color: #FF5A5F;
}

.helv-55-red {
  font-size: 55px;
  font-family: helvetica;
  line-height: 60.5px;
  color: #FF5A5F;
}

.helv-56-red {
  font-size: 56px;
  font-family: helvetica;
  line-height: 61.6px;
  color: #FF5A5F;
}

.helv-57-red {
  font-size: 57px;
  font-family: helvetica;
  line-height: 62.7px;
  color: #FF5A5F;
}

.helv-58-red {
  font-size: 58px;
  font-family: helvetica;
  line-height: 63.8px;
  color: #FF5A5F;
}

.helv-59-red {
  font-size: 59px;
  font-family: helvetica;
  line-height: 64.9px;
  color: #FF5A5F;
}

.helv-60-red {
  font-size: 60px;
  font-family: helvetica;
  line-height: 66px;
  color: #FF5A5F;
}
