.error {
	color: red;
}

body {
	background-color: #EAE9E9;
}

.navbar {
	background-color: #AC1F29;
	margin: 0 -15px;
	border-radius: 0;
	border: none;
	color: #ffffff;
	a {
		color: #ffffff;
		&:hover, &:focus{
			background-color: rgba(0,0,0,0.5) !important;
		};
	}
}

legend {
	margin-top: 10px
}

p {
	margin: 10px 0 0;
}

.container {
	background-color: white;
}

.bree-serif-22-white {
	font-family: 'Bree Serif', Georgia, serif;
	font-size: 22px;
	line-height: 20px;
	color: #ffffff !important;
}

/*
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 97px;
color: #a32721;



font-family: arial, Helvetica, sans-serif;
font-size: 28px;
line-height: 40px;
color: #333333;

font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
line-height: 40px;
color: #333333;

font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 20px;
color: #222222;

font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height:20px;
color: #ffffff;

*/






