/*Page CSS*/
body {
  background-color: #EAE9E9;
}

.nav-holder {
  background-color: #AC1F29;
  height: 50px;
  margin: 0 -15px;
}

.navbar {
  background-color: #ac1f29;
  border-radius: 0;
  border: none;
  color: #ffffff;
}
.navbar a {
  color: #ffffff;
}
.navbar a:hover, .navbar a:focus {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

legend {
  margin-top: 10px;
}

p {
  margin: 10px 0 0;
}

/*input and error styles*/
input {
  border: 1px solid black;
  border-radius: 4px;
  width: 200px;
}

.small-input {
  width: 20px !important;
}

.error {
  color: red;
}

.container {
  background-color: white;
}

/*Fonts*/
.bree-serif-22-white {
  font-family: 'Bree Serif', Georgia, serif;
  font-size: 22px;
  line-height: 20px;
  color: #ffffff !important;
}
