// these comments will not be included in the final version
// @import

/* This comment will be included in the CSS */

/*@import happens during compile, not on the client*/

/*_thisIsAPartialCssFile*/

/* Nesting is the best!*/

.outer {
	color: black;
	.inner {
		font-size: 16px;
	}
	.inner2 {
		font-size: 16px;
	}
}

.outer {
	coler: black;
	&.inner-compound-selecter {
		color: white;
	}
} especially useful for sudo classes

.sidebar {
	float: right;
	width: 300px;
	.users & {
		width: 400px;
	}
}

/* NESTING IS DANGEROUS. Don't nest beyond 3-4 levels */


// Level 2
@import-some-partial-scss-file

$var-name: red;
$var-name: blue !default; /*stays red*/

/*respect the scope.*/
/*Setting a variable globally, then changing it locally will also change it globally*/

$random: top;

.button {
	#{$random}: 10px;
}
/*Use #{} to shim variables into selector property names, and string;*/

* {
	color: $var-name;
}

/*Level 3 - Mixin*/

mixins help you DRY
@mixin button {
	border: 1px;
}

.btn-a {
	@include button;
}

make sure the @mixin varName comes before the @include

@include = use a mixin
@import = import a file

Mixins are good for

@mixin box-sizing($x: default-value) {
	box-sizing: $x;
}

@mixin awesome($var1, $var2: #000){
	border-radius: $var1;
	color: $var2;
}
/*optional values must ALWAYS come at the end, otherwise it's confusing and throw and error*/

.btn-a {
	@include awesome(4px)
}

.btn-a {
	@include awsome($var1: 5px, $var2: red);
}

KIND OF LIKE FUNCTIONS

Placeholder selectors are denoted with a %
Versions of IE prior to 9 have a limit of 4095 selectors per CSS file

@function funcName($target, $context) {
	@return ($target/ $context) * 100%;
}

@if can conditionally output code
$theme: dark;

header {
	@if $theme == dark {
		background: #000;
	} else if (true){
		do something
	} @else {
		background: #fff;
	}
}

$authors: nick aimee dan drew;
@each $author in $authors {
	.author-#{$author} {
		background: url(author-#{$author}.jpg);
	}
}

@for $i from 1 through 90 {
	.raleway-${$i} {
		font-family: raleway helvetica;
		font-size: $i;
		line-height: $i * 1.2;
	}
}

with while remember $i: $i + #;