<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Andrew's Checkout</title>

  <!-- internal CSS -->
  <!-- build:css css/tidymin.css-->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- /build -->

  <!-- external CSS -->
  <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

  <!-- external JS -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
  <script src="js/angular-validation.js"></script>
  <script src="js/angular-validation-rule.js"></script>

</head>

<body ng-app="checkoutForm">
  <div class="container" ng-controller="CheckoutController">

    <nav class="navbar bree-serif-22-white" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand bree-serif-22-white">Love with Food</span>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right ">
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Snackbox</a>
            </li>
            <li>
              <a href="#">Shop</a>
            </li>
            <li>
              <a href="#">Recipes</a>
            </li>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col col-sm-offset-2 col-sm-8">
        <form class="row" name="checkoutForm" novalidate ng-submit="submit(checkoutForm)">

          <div class="col col-sm-12">
            <legend>Credit Card Details</legend>
            <p>CCV *</p>
            <input type="text" name="ccvName" ng-model="checkoutForm.ccv" validator="required, ccv" valid-method="blur">

            <p>Payment data is kept secure using strong encryption standards.</p>

            <p>Credit card number *</p>
            <input type="text" name="creditName" ng-model="checkoutForm.credit" validator="required, credit" valid-method="blur">


            <div address-template ng-model="Billing"></div>
            <p>
              <input type="checkbox" checked>Sign up for our monthly newsletter
            </p>
            <p>
              Shipping address same as billing address?
              <br>
              <form>
                <input type="radio" name="difAddress" value="yes" ng-click="difAddress = false">Yes
                <br>
                <input type="radio" name="difAddress" value="no" ng-click="difAddress = true">No
              </form>
            </p>

            <div ng-if="difAddress">
              <div address-template ng-model="Shipping"></div>
            </div>

            <br>

            <button type="submit" ng-disabled="checkoutForm.$invalid || difAddress === undefined">BUY NOW</button>
            <div address></div>
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>


  <!-- internal JS -->
  <!-- build:js js/main.js -->
  <script src="js/main.js"></script>
  <script src="js/jquery.js"></script>
  <!-- /build -->




</body>

</html>