<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Checkout</title>

  <!-- internal CSS -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="bootstrap.css.map">
  <link rel="stylesheet" href="css/main.css">


  <!-- external CSS -->
  <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

  <!-- external JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>


</head>

<body ng-app="checkoutForm">
  <div class="container" ng-controller="CheckoutController">

    <nav class="navbar bree-serif-22-white" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand bree-serif-22-white">Acme Co.</span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right ">
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col col-sm-offset-2 col-sm-8">
        <form class="row" name="checkoutForm" novalidate ng-submit="submit(checkoutForm)">

          <div class="col col-sm-12">
            <legend>Credit Card Details</legend>

            <p>Credit card number *</p>
            <input type="text" name="creditName" ng-model="checkoutForm.credit" validator="required, credit" valid-method="blur">

            <p>Expiration *</p>
            <input type="month" name="expirationName" ng-model="checkoutForm.expiration" validator="required" valid-method="blur">

            <p>CCV *</p>
            <input type="text" name="ccvName" ng-model="checkoutForm.ccv" validator="required, ccv" valid-method="blur">

            <p>Payment data is kept secure using strong encryption standards.
              <br>We accept the following cards...</p>
            <img src="images/cards.png" alt="Visa, Mastercard, American Express, Discover Card">

            <legend>Billing Address</legend>

            <p>First name *</p>
            <input type="text" name="firstName" ng-model="checkoutForm.first" validator="required" valid-method="blur">

            <p>Last name *</p>
            <input type="text" name="lastName" ng-model="checkoutForm.last" validator="required" valid-method="blur">

            <p>Street address *</p>
            <input type="text" name="streetName" ng-model="checkoutForm.street" validator="required" valid-method="blur">

            <p>City *</p>
            <input type="text" name="cityName" ng-model="checkoutForm.city" validator="required" valid-method="blur">

            <p>Country *</p>
            <input type="text" name="countryName" ng-model="checkoutForm.country" validator="required" valid-method="blur">

            <p>State *</p>
            <input list="statesList" name="stateName" ng-model="checkoutForm.state" validator="required" valid-method="blur">
            <datalist id="statesList">
              <div ng-repeat="state in states">
                <option value="{{state.value}}">{{state.name}}</option>
              </div>
            </datalist>

            <p>Zip Code *</p>
            <input type="text" name="required, zip" ng-model="checkoutForm.zip" validator="required, zip" valid-method="blur">

            <p>Phone *</p>
            <input type="text" name="phoneName" ng-model="checkoutForm.phone" validator="required, phone" valid-method="blur">

            <p>
              Shipping address same as billing address?
              <br>
              <form>
                <input class="small-input" type="radio" name="difAddress" value="yes" ng-click="difAddress = false">&nbsp;Yes
                <br>
                <input class="small-input" type="radio" name="difAddress" value="no" ng-click="difAddress = true">&nbsp;No
              </form>
            </p>

            <div ng-if="difAddress">
              <legend>Shipping Address</legend>

              <p>First name *</p>
              <input type="text" name="shippingFirstName" ng-model="checkoutForm.shippingFirst" validator="required" valid-method="blur">

              <p>Last name *</p>
              <input type="text" name="shippingLastName" ng-model="checkoutForm.shippingLast" validator="required" valid-method="blur">

              <p>Street address *</p>
              <input type="text" name="shippingStreetName" ng-model="checkoutForm.shippingStreet" validator="required" valid-method="blur">

              <p>City *</p>
              <input type="text" name="shippingCityName" ng-model="checkoutForm.shippingCity" validator="required" valid-method="blur">

              <p>State *</p>
              <input list="statesList2" name="shippingStateName" ng-model="checkoutForm.shippingState" validator="required" valid-method="blur">
              <datalist id="statesList2">
                <div ng-repeat="state in states">
                  <option value="{{state.value}}">{{state.name}}</option>
                </div>
              </datalist>

              <p>Zip Code *</p>
              <input type="text" name="shippingZipName" ng-model="checkoutForm.zip" validator="required, zip" valid-method="blur">

            </div>

            <p>
              Is this purchase a gift?
              <br>
              <form>
                <input class="small-input" type="radio" name="isGift" value="yes" ng-click="isGift = true">&nbsp;Yes
                <br>
                <input class="small-input" type="radio" name="isGift" value="no" ng-click="isGift = false">&nbsp;No
              </form>
            </p>

            <fieldset ng-if="isGift">
              <legend>Gift information</legend>
              <p>Your gift will be sent without an invoice or price tag</p>
              <div>
                <textarea style="width: 100%;" name="giftName" ng-model="checkoutForm.gift" placeholder="enter an optional message for your gift" valid-method="blur"></textarea>
              </div>
            </fieldset>

            <p>
              <input type="checkbox" class="small-input" checked>Sign up for our monthly newsletter
            </p>
            <br>

            <button type="submit" ng-disabled="checkoutForm.$invalid || difAddress === undefined || isGift === undefined">BUY NOW</button>
          </div>
        </form>
        <br>
        <p ng-if="results">The following object is available in the controller: {{results}}</p>
      </div>
    </div>
  </div>


  <!-- internal JS -->
  <!-- build:js js/main.js -->
  <script src="js/main.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/angular-validation.js"></script>
  <script src="js/angular-validation-rule.js"></script>
  <!-- /build -->




</body>

</html>